---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import { siteConfig } from "src/config/site-config";
import MainLayout from "src/layouts/MainLayout.astro";
import AuthorCard from "src/components/AuthorCard.astro";

const authors = await getCollection("author");

---

<MainLayout title="Authors">
  <div class="bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <section class="mx-auto max-w-2xl lg:mx-0">
        <h1
          class="text-4xl font-semibold tracking-tight text-pretty text-white sm:text-5xl"
        >
          {siteConfig.title}
        </h1>
      </section>
      <section class="grid grid-cols-1 sm:grid-cols-2 gap-2 my-5">
       {authors.map(author => <AuthorCard author={author} />)}
      </section>
    </div>
  </div>
</MainLayout>
